create-room{
  background: linear-gradient(-225deg, #F76363 0%, #F4804A 100%);
  & > * {
    background-color: transparent !important;
  }
  .scroll-content {
    background: transparent;
  }
  .toolbar-background {
    background-color: transparent;
    border-bottom: none !important;
  }
  ion-navbar {
    .back-button {
      color: #fff !important;
    }
    .toolbar-title {
      color: #fff !important;
    }
  }
  .scroll-content {
    padding: 30px 0;
    .content-box {
      margin:0 auto;
      background: #FFFFFF;
      box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.17);
      border-radius: 5px;
      padding: 32px;
      width: 80%;
      min-height: 80%;
    }
  }
  .content-title {
    text-align: center;
    font-size: 18px;
    color: #4A4A4A;
    padding: 30px 0;
  }
  .input-box {
    .item{
      min-height:20px;
      ion-datetime{
        width:100%;
        max-width: inherit;
        padding: 0 5px 0 0;
        color: #4A4A4A;
        font-size:14px;
      }
      padding: 0;
      .item-inner{
        border-bottom: 0 solid #E0E0E0;
      }
      button{
        padding: 0;
      }
    }
    .input-title {
      font-size: 14px;
      color: #4A4A4A;
    }
    .input-element {
      margin: 10px 0 29px;
      border-bottom: 1px solid #E0E0E0;
      color: #636363;
      img{
        display: block;
        width:80%;
        border-radius: 5px;
        margin: 15px auto;
        filter:drop-shadow( 0 3px 15px rgba(0,0,0,0.2));
      }
      input {
        border:none;
        border-bottom: 1px solid transparent;
        box-shadow: none;
        width: 100%;
        padding: 0;
        margin: 0;
        transition: .3s ease;
        border-radius: 0;
        &:focus {
          border-bottom: 1px solid #f66d5a;
        }
        &[type=file]{
          -webkit-appearance: none!important;
          -moz-appearance: none!important;
          appearance: none!important;
        }
      }
    }
    &.multiply-input{
      overflow: auto;
      display: flex;
      justify-content: space-between;
      &>div{
        float: left;
        width:45%;
      }
    }
  }
  .login-button {
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 17px;
    color: #fff;
    text-align: center;
    margin: 20px auto;
    background-image: linear-gradient(-225deg, #F76363 0%, #F4804A 100%);
  }
}